*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

body{
    background: #FAFAFA;
}

button{
    cursor: pointer;
}

.menus{
    display: flex;
    flex-direction: row;
}